@import url('https://fonts.googleapis.com/css2?family=Headland+One&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

h1{
    font-family: "Headland One", serif;
    width: 100%;
    text-align: center;
    font-size: 2em;
}

header nav {
    background-color: #aed2d2;
    border-top: 0.1px solid #c2eaea;
    border-bottom: 0.1px solid #aed2d2;
    padding-bottom: 1em;
    text-align: center;
}

header nav a {
    color: #2f4550ff;
    text-decoration: none;
    font-size: 1.2em;
}

header nav a:hover {
  text-decoration: underline;
}

body {
    background-color: rgb(218, 241, 245);
    color: #2f4550ff; 
}

main {
    font-family: "Nunito", sans-serif;
    max-width: 900px;
}

p {
    margin-bottom: 1em;
}

footer nav {
    background-color: #c1e8e8;
    border-top: 0.1px solid #c1e8e8;
    border-bottom: 0.1px solid #c1e8e8;
    text-align: center;
}

footer nav a {
    color: #2f4550ff;
    text-decoration: none;
}

footer nav a:hover {
  text-decoration: underline;
}