<footer>
    <nav style="background-color: #3a923d;;">
        <p id="footer-nav">
            <a href="https://validator.w3.org/nu/?doc=https%3A%2F%2Fwebpages.charlotte.edu%2Fachernoi%2Fclient%2Findex.html">Validate HTML</a> |
            <a href="https://jigsaw.w3.org/css-validator/validator?uri=https%3A%2F%2Fwebpages.charlotte.edu%2Fachernoi%2Fclient%2F&profile=css3svg&usermedium=all&warning=1&vextwarning=&lang=en">Validate CSS</a> |
            <a href="https://wave.webaim.org/report#/https://webpages.charlotte.edu/achernoi/client/index.html">Accessibility Check</a>
        </p>
    </nav>
    <p>Designed by Sasha's Designs</p>
</footer>