<header>
    <h1>The Garden Hub</h1>

    <nav>
        <a href="index.html">Home</a>
        <a href="plants.html">Plants</a>
        <a href="calendar.html">Calendar</a>
        <a href="tools.html">Tools</a>
        <a href="guide.html">Guide</a>
        <a href="contact.html">Contact</a>
    </nav>
    <button id="openPopup">Tip of the Day</button>
    <div id="overlay" class="overlay">
    <div class="popup">
        <div class="popup-content">
        <span class="close-btn" id="closePopup">&times;</span>
        <h2 style="text-align: center; color: rgb(154, 242, 154);">Todays Tip!</h2>
        <p id="randomText" style="color: rgb(154, 242, 154);"></p>
        </div>
    </div>
    </div>
</header>
<script src="scripts/tips.js"></script>