@import url('https://fonts.googleapis.com/css2?family=Elsie+Swash+Caps&family=League+Spartan:wght@100..900&family=Quicksand:wght@300..700&display=swap');

h1 { 
    font-family: "Elsie Swash Caps", serif;
    width: 100%;
    text-align: center;
    font-size: 3em;
}

header nav {
    background-color: #BCAC9B;
    border-top: 0.1px solid #BCAC9B;
    border-bottom: 0.1px solid #BCAC9B;
}

header nav a {
    color: #2f4550ff;
    text-decoration: none;
    font-size: 1.5em;
}

header nav a:hover {
  text-decoration: underline;
}

h2 {
    font-family: "Quicksand", sans-serif;
    /*max-width: 800px;
    margin-left: 43%;
    margin-right: 43%;*/
    border-bottom: 2px solid black;
    padding-bottom: 0.25rem;
    width: 100%;
    text-align: center;
}

body {
    background-color: #FFFAE2;
    color: #2f4550ff; 
}

main {
    font-family: "League Spartan", sans-serif;
    max-width: 900px;
    margin-left: 20%;
    margin-right: 20%;
    font-size:large;
}

img {
    max-width: 300px;
    margin-left: 30%;
    margin-right: 30%;
}

figcaption {
    max-width: 500px;
    margin-left: 29%;
    margin-right: 29%;
}

footer p {
    text-align: center;
}

footer nav {
    background-color: #BCAC9B;    
}

footer nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    max-width: 800px;
    margin-left: 32%;
    margin-right: 32%;
}

nav li:not(:last-child)::after {
    content: "|";
    color: #2f4550ff;
    margin-left: 20px;
}

footer nav a {
    color: #2f4550ff;
    text-decoration: none;
}

footer nav a:hover {
  text-decoration: underline;
}